@{
    ViewBag.Title = "Home Page";
}
<div id="tabs" style="text-align:justify">
    <ul class="nav nav-pills nav-justified">

        <li class="active">
            <a href="#Home" data-toggle="tab">HOME</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                SERVICES<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Commercial" data-toggle="tab">Commercial</a></li>
                <li><a href="#Residential" data-toggle="tab">Residential</a></li>                
            </ul>
        </li>       
        @*<li>
            <a href="#Testemonial" data-toggle="tab">TESTEMONIAL</a>
        </li>*@
        <li>
            <a href="#About" data-toggle="tab">ABOUT</a>
        </li>
        <li>
            <a href="#Contact" data-toggle="tab">CONTACT</a>
        </li>       
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Home">
            @Html.Partial("FirstPage")
        </div>
        <div class="tab-pane" id="Commercial">
            @Html.Partial("Commercial")
        </div>
        <div class="tab-pane" id="Residential">
            @Html.Partial("Residential")
        </div>
        <div class="tab-pane" id="Services">
            @Html.Partial("Services")
        </div>
        @*<div class="tab-pane" id="Testemonial">
            @Html.Partial("Testemonial")
        </div>*@
        <div class="tab-pane" id="About">
            @Html.Partial("About")
        </div>
        <div class="tab-pane" id="Contact">
            @Html.Partial("Contact")
        </div>
    </div>
</div>  
